body {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-size: normal;
  background-color: rgb(240, 240, 240);
}

header {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-size: normal;
}

h3 {
  margin: 0;
  color: white;
}

img {
  height: auto;
  object-fit: contain;
}

input {
  height: 40px;
}

textarea {
  height: 150px;
  margin-bottom: 15px;
}

.button-styling {
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 70px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

input,
textarea {
  border: 2px solid rgb(196, 197, 196);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

input,
textarea,
img {
  width: 100%;
}

p,
input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: normal;
}

.color-purple {
  background-color: rgb(86, 43, 128);
}

.text-right {
  text-align: right;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.align-center {
  align-items: center;
}

.height-50 {
  height: 50px;
}

input:focus,
textarea:focus {
  outline-color: rgb(86, 43, 128);
}

.display-flex {
  display: flex;
}

.justify-right {
  justify-content: right;
}

.width {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.justify-center {
  justify-content: center;
}

.height-100 {
  height: 100px;
}

a {
  text-decoration: none;
}

.color-white {
  color: white;
}

.new-a-position {
  padding: 4.5px;
  text-align: center;
}

.pl-15 {
  padding-left: 15px;
}

.justify-between {
  justify-content: space-between;
}

.delete-entry {
  color: rgb(223, 70, 70);
  text-decoration: underline;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 30%);
  position: absolute;
  display: flex;
}

.pop-up {
  width: 30%;
  height: 130px;
  background-color: white;
}

.pop-up-btns > button {
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

.cancel {
  background-color: rgb(182 182 182);
}

.confirm {
  background-color: rgb(220 38 38);
  color: white;
}
